In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

## Ciudad de México

In [2]:
# Upload each sheet at a time. 
ciudaddemexico_a = pd.read_excel('Data_Raw/CiudaddeMexico/ciudaddemexico_2016.xls',
                                sheetname = 'Serie A 00002-A68888', skiprows = 2)
ciudaddemexico_b = pd.read_excel('Data_Raw/CiudaddeMexico/ciudaddemexico_2016.xls',
                                sheetname = 'Serie A 68889-99999')
ciudaddemexico_c = pd.read_excel('Data_Raw/CiudaddeMexico/ciudaddemexico_2016.xls',
                                sheetname = 'Serie B')
ciudaddemexico_d = pd.read_excel('Data_Raw/CiudaddeMexico/ciudaddemexico_2016.xls',
                                sheetname = 'Serie M', parse_cols = 'B:L')
ciudaddemexico_e = pd.read_excel('Data_Raw/CiudaddeMexico/ciudaddemexico_2016.xls',
                                sheetname = 'Taxi Preferente', parse_cols = 'B:J')

# First sheet has different column names from the rest. 
ciudaddemexico_a.rename(columns={'NOMBRE DEL TITULAR y/o RAZÓN SOCIAL': 'NOMBRE'}, inplace = True)
ciudaddemexico_a.rename(columns={'APELLIDO PATERNO': 'PATERNO'}, inplace = True)
ciudaddemexico_a.rename(columns={'APELLIDO MATERNO': 'MATERNO'}, inplace = True)

# Merge sheets.
ciudaddemexico_ab = ciudaddemexico_a.append(ciudaddemexico_b, ignore_index = True)
ciudaddemexico_abc = ciudaddemexico_ab.append(ciudaddemexico_c, ignore_index = True)
ciudaddemexico_abcd = ciudaddemexico_abc.append(ciudaddemexico_d, ignore_index = True)
ciudaddemexico = ciudaddemexico_abcd.append(ciudaddemexico_e, ignore_index = True)

# Reorder columns.
ciudaddemexico = ciudaddemexico[['PLACA', 'NOMBRE', 'PATERNO', 'MATERNO', 'RAZON SOCIAL', 'MARCA', 'LINEA', 'TIPO',
                                 'MODELO', 'COMBUSTIBLE', 'FECHA DE INICIO', 'FECHA DE TERMINO']]

#ciudaddemexico.to_csv('Data/ciudaddemexico.csv', index = False, date_format = '%m/%d/%Y')

## Jalisco

In [3]:
# Upload files.
jalisco_m = pd.read_excel('Data_Raw/Jalisco/jalisco-m_2016.xls', skiprows = 13)
jalisco_f = pd.read_excel('Data_Raw/Jalisco/jalisco-f_2016.xls', skiprows = 13)

# Add new column to differentiate zones.
jalisco_m['Zona'] = 'Metropolitana'
jalisco_f['Zona'] = 'Foranea'

# Join both data sets.
jalisco = jalisco_m.append(jalisco_f, ignore_index = True)

# Modify 'Consecutivo' column to function as index starting from 1. 
jalisco['Cons'] = jalisco.index 
jalisco.Cons += 1
jalisco = jalisco[['Cons', 'Permiso', 'Nombre', 'Expira el', 'Zona']]
jalisco.rename(columns={'Cons': 'Consecutivo'}, inplace = True)

#jalisco.to_csv('Data/jalisco.csv', index = False, date_format = '%m/%d/%Y')

## Nuevo León

In [4]:
# Upload file.
nuevoleon = pd.read_csv('Data_Raw/NuevoLeon/nuevoleon_2015.csv', encoding = 'ISO-8859-1', skiprows = 2,
                        dtype = {'FOLIO': str})

#nuevoleon.to_csv('Data/nuevoleon.csv', index = False)

## Guanajuato

In [5]:
# Upload file.
guanajuato = pd.read_csv('Data_Raw/Guanajuato/guanajuato_2016.csv')

#guanajuato.to_csv('Data/guanajuato.csv', index = False)

## Puebla

In [6]:
# Upload file. 
puebla = pd.read_csv('Data_Raw/Puebla/tabula-puebla_2016.csv')

# Delete title rows. 
puebla = puebla[puebla['Permiso'] != 'Permiso']

puebla_local = pd.read_csv('Data_Raw/Puebla/tabula-puebla_local_2016.csv')
puebla_local = puebla_local[puebla_local['Permiso'] != 'Permiso']

# Join both data sets. 
puebla = puebla.append(puebla_local, ignore_index = True)

#puebla.to_csv('Data/puebla.csv', index = False)

## Quintana Roo

In [7]:
# Upload files.
quintanaroo_cozumel = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_cozumel_2016.csv')
quintanaroo_bacalar = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_bacalar_2016.csv')
quintanaroo_chunhuhub = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_chunhuhub_2016.csv')
quintanaroo_benitojuarez = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_benitojuarez_2016.csv')
quintanaroo_felipecarrillopuerto = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_felipecarrillopuerto_2016.csv')
quintanaroo_islamujeres = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_islamujeres_2016.csv')
quintanaroo_josemariamorelos = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_josemariamorelos_2016.csv')
quintanaroo_lazarocardenas = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_lazarocardenas_2016.csv')
quintanaroo_othonpblanco = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_othonpblanco_2016.csv')
quintanaroo_puertomorelos = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_puertomorelos_2016.csv')
quintanaroo_solidaridad = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_solidaridad_2016.csv')
quintanaroo_tulum = pd.read_csv('Data_Raw/QuintanaRoo/tabula-quintanaroo_tulum_2016.csv')


# Add missing value for Benito Juarez.
quintanaroo_benitojuarez['DESCRIPCION DE LA CONCESION'][5454] = 'TAXI RULETERO'

# Fix value on Isla Mujeres.
quintanaroo_islamujeres['VIGENCIA'][1053] = 'ILIMITADA'

# Add missing entry on Puerto Morelos.
quintanaroo_puertomorelos['DESCRIPCION DE LA CONCESION'][51] = 'TAXI RULETERO'
quintanaroo_puertomorelos['NOMBRE DEL BENEFICIARIO'][51] = 'ANDRES MANUEL ORTIZ MORALES'
quintanaroo_puertomorelos['VIGENCIA'][51] = 'ILIMITADA'

# Add municipalites column for each file.
quintanaroo_cozumel['MUNICIPIO'] = 'COZUMEL'
quintanaroo_bacalar['MUNICIPIO'] = 'BACALAR'
quintanaroo_chunhuhub['MUNICIPIO'] = 'CHUNHUHUB'
quintanaroo_benitojuarez['MUNICIPIO'] = 'BENITO JUAREZ'
quintanaroo_felipecarrillopuerto['MUNICIPIO'] = 'FELIPE CARRILLO PUERTO'
quintanaroo_islamujeres['MUNICIPIO'] = 'ISLA MUJERES'
quintanaroo_josemariamorelos['MUNICIPIO'] = 'JOSE MARIA MORELOS'
quintanaroo_lazarocardenas['MUNICIPIO'] = 'LAZARO CARDENAS'
quintanaroo_othonpblanco['MUNICIPIO'] = 'OTHON P. BLANCO'
quintanaroo_puertomorelos['MUNICIPIO'] = 'PUERTO MORELOS'
quintanaroo_solidaridad['MUNICIPIO'] = 'SOLIDARIDAD'
quintanaroo_tulum['MUNICIPIO'] = 'TULUM'


# Join data sets.
quintanaroo_a = quintanaroo_cozumel.append(quintanaroo_bacalar, ignore_index = True)
quintanaroo_ab = quintanaroo_a.append(quintanaroo_chunhuhub, ignore_index = True)
quintanaroo_abc = quintanaroo_ab.append(quintanaroo_benitojuarez, ignore_index = True)
quintanaroo_abcd = quintanaroo_abc.append(quintanaroo_felipecarrillopuerto, ignore_index = True)
quintanaroo_abcde = quintanaroo_abcd.append(quintanaroo_islamujeres, ignore_index = True)
quintanaroo_abcdef = quintanaroo_abcde.append(quintanaroo_josemariamorelos, ignore_index = True)
quintanaroo_abcdefg = quintanaroo_abcdef.append(quintanaroo_lazarocardenas, ignore_index = True)
quintanaroo_abcdefgh = quintanaroo_abcdefg.append(quintanaroo_othonpblanco, ignore_index = True)
quintanaroo_abcdefghi = quintanaroo_abcdefgh.append(quintanaroo_puertomorelos, ignore_index = True)
quintanaroo_abcdefghij = quintanaroo_abcdefghi.append(quintanaroo_solidaridad, ignore_index = True)
quintanaroo = quintanaroo_abcdefghij.append(quintanaroo_tulum, ignore_index = True)

#quintanaroo.to_csv('Data/quintanaroo.csv', index = False)

In [8]:
print(len(quintanaroo_cozumel))
print(len(quintanaroo_bacalar))
print(len(quintanaroo_chunhuhub))
print(len(quintanaroo_benitojuarez))
print(len(quintanaroo_felipecarrillopuerto))
print(len(quintanaroo_islamujeres))
print(len(quintanaroo_josemariamorelos))
print(len(quintanaroo_lazarocardenas))
print(len(quintanaroo_othonpblanco))
print(len(quintanaroo_puertomorelos))
print(len(quintanaroo_solidaridad))
print(len(quintanaroo_tulum))

752
92
116
7750
314
1066
114
226
1849
373
2452
896

In [9]:
752 + 92 + 116 + 7750 + 314 + 1066 + 114 + 226 + 1849 + 373 + 2452 + 896

16000

In [10]:
quintanaroo.describe()

,DESCRIPCION DE LA CONCESION,NOMBRE DEL BENEFICIARIO,VIGENCIA,MUNICIPIO
count,15999,16000,16000,16000
unique,4,14878,1,12
top,TAXI RULETERO,FONDO P/LA EDUCACION Y LA CULTURA.,ILIMITADA,BENITO JUAREZ
freq,15162,192,16000,7750

In [11]:
quintanaroo.head()

  DESCRIPCION DE LA CONCESION     NOMBRE DEL BENEFICIARIO   VIGENCIA MUNICIPIO
0               TAXI RULETERO  MARIA LOURDES PINELO NIETO  ILIMITADA   COZUMEL
1               TAXI RULETERO  JUAN CARLOS PUGA ALCERRECA  ILIMITADA   COZUMEL
2               TAXI RULETERO           ELIAS DZUL GARCIA  ILIMITADA   COZUMEL
3               TAXI RULETERO   ELVIRA VILLANUEVA MENDOZA  ILIMITADA   COZUMEL
4               TAXI RULETERO          MARIANA MAC RIVERO  ILIMITADA   COZUMEL

In [12]:
len(quintanaroo)

16000