In [1]:
import pandas as pd
import numpy as np

In [13]:
# Upload file.
nuevoleon = pd.read_csv('nuevoleon_raw_2015.csv', encoding = 'ISO-8859-1', skiprows = 2,
                        dtype = {'FOLIO': str})

# 'VENCIMIENTO' has a blank space at the beginning.
nuevoleon.rename(columns={' VENCIMIENTO': 'VENCIMIENTO'}, inplace = True)

# Convert data types.
nuevoleon['VENCIMIENTO'] = pd.to_datetime(nuevoleon['VENCIMIENTO'], errors = 'coerce')
#nuevoleon['FOLIO'] = pd.to_numeric(nuevoleon['FOLIO'], errors = 'coerce')

# Reorder columns.
nuevoleon = nuevoleon[['FOLIO', 'NOMBRE O RAZON SOCIAL DEL TITULAR', 'VENCIMIENTO', 'ESTATUS', 'OBJETO']]

# Export to a csv file.
#nuevoleon.to_csv('nuevoleon.csv', index = False)

In [14]:
nuevoleon.dtypes

FOLIO                                        object
NOMBRE O RAZON SOCIAL DEL TITULAR            object
VENCIMIENTO                          datetime64[ns]
ESTATUS                                      object
OBJETO                                       object
dtype: object

In [15]:
nuevoleon.head()

   FOLIO NOMBRE O RAZON SOCIAL DEL TITULAR VENCIMIENTO  ESTATUS     OBJETO
0  00001         ALBERTO RODRIGUEZ SANCHEZ  2021-01-08  VIGENTE  CONCESION
1  00002                 RUBEN CHAVEZ MOYA  2021-01-08  VIGENTE  CONCESION
2  00003   SERGIO ANTONIO HERNANDEZ GARCIA  2021-01-08  VIGENTE  CONCESION
3  00004            DAVID GINEBRA SERRABOU  2021-01-08  VIGENTE  CONCESION
4  00005        LUIS ROBERTO LEOS MARTINEZ  2021-01-08  VIGENTE  CONCESION

In [16]:
nuevoleon.tail()

       FOLIO NOMBRE O RAZON SOCIAL DEL TITULAR VENCIMIENTO  ESTATUS     OBJETO
32248  32249     JULIAN ALEJANDRO MORENO CANTU  2017-01-12  VIGENTE  CONCESION
32249  32250               JAVIER  ROCHA RAMOS  2017-01-12  VIGENTE  CONCESION
32250  32251          JOSE LUIS MATA RODRIGUEZ  2017-01-12  VIGENTE  CONCESION
32251  32252     MARIO ANGEL DE LUNA RODRIGUEZ  2017-01-12  VIGENTE  CONCESION
32252  32253      JUAN FERNANDO LOZANO MORALES  2021-01-08  VIGENTE  CONCESION